<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'ticketdesk2' in resource group 'Default-Web-CentralUS' -->
  <InstrumentationKey>b27f9308-72c1-4c8c-96f9-0a7c47956a7d</InstrumentationKey>
</ApplicationInsights>