@using TicketDesk.Localization.Views.UserAdministration
@model X.PagedList.IPagedList<TicketDesk.Web.Client.Models.UserAccountInfoViewModel>
@section title{
    @Index_sq.Title
}
@section scripts
{
    @Scripts.Render("~/bundles/admin-users")
    <script type="text/javascript">
        $(document).ready(function () {
            window.adminUsers.activate();
        });
    </script>
}
<main>
    <div class="container">
        <fieldset>
            <legend class="col-sm-12">@Index_sq.Legend</legend>
            <div class="col-sm-12">
                @Html.Partial("_UserList", Model)
            </div>
        </fieldset>
    </div>
</main>