<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TicketDesk.Web.Identity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
    <TicketDesk.Web.Identity.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value>mail.pragmatic.al</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>notifications@pragmatic.al</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Pr@gmatic14</value>
      </setting>
      <setting name="From" serializeAs="String">
        <value>notifications@pragmatic.al</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>2525</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>Nje task i ri eshte shtuar per ju.</value>
      </setting>
      <setting name="EnableSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FromNumber" serializeAs="String">
        <value>0675329846</value>
      </setting>
    </TicketDesk.Web.Identity.Properties.Settings>
  </applicationSettings>
</configuration>
