<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TicketDesk.Web.Identity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>


 
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
     
    </configSections>


  
<log4net>
    <root>
      <level value="ALL"></level>
      <appender-ref ref="RollingFileAppender" />
     <appender-ref ref="SmtpAppender" />
    </root>

  <!-- File log appender  -->

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

  <!--Email log appender --> 

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="indrit.kello@pragmatic.al" />
      <from value="notifications@pragmatic.al" />
      <subject value="Applicant tracking notification" />
      <smtpHost value="mail.pragmatic.al" />
      <port value="2525" />
      <username value="notifications@pragmatic.al"></username>
      <password value="Pr@gmatic14"></password>
      <authentication value="Basic"></authentication>

      <bufferSize value="1" />
      <lossy value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>

      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>

  </log4net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
    <TicketDesk.Web.Identity.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value>mail.pragmatic.al</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>notifications@pragmatic.al</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Pr@gmatic14</value>
      </setting>
      <setting name="From" serializeAs="String">
        <value>notifications@pragmatic.al</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>2525</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>Nje task i ri eshte shtuar per ju.</value>
      </setting>
      <setting name="EnableSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FromNumber" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IpTCP" serializeAs="String">
        <value>109.69.4.163</value>
      </setting>
      <setting name="PortTCP" serializeAs="String">
        <value>5039</value>
      </setting>
      <setting name="SmsTemplateForNewTask" serializeAs="String">
        <value>Keni nje detyre per klientin: {0}, per me shume informacion kontaktoni me Fatjonin.</value>
      </setting>
      <setting name="SmsUsername" serializeAs="String">
        <value>pragmatic</value>
      </setting>
      <setting name="SmsPassword" serializeAs="String">
        <value>integration</value>
      </setting>
      <setting name="AfraEmail" serializeAs="String">
        <value>enxhela.rustani@pragmatic.al</value>
      </setting>
    </TicketDesk.Web.Identity.Properties.Settings>
  </applicationSettings>
</configuration>
